@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

.dashboard h1,
p {
    font-size: 48px;
    color: rgba(20, 22, 24, 0.88);
}

.homeMain-bible {
    width: 90vw;
    height: 80vh;
    padding: 0px;
    border-radius: 0 0 18px 18px;
    display: flex;
    flex-direction: row;
    background-color: #27214e9f;
}

.dashboard-container-bible {
    width: 100%;
    background-color: #05782b20;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 18px 0;
}

.bottom-container h1 {
    border-bottom: 2px solid #bbbbbb;
}

.bottom-container {
    height: 86%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    scroll-behavior: smooth;
    scrollbar-color: rgba(202, 242, 237, 0.85) rgba(11, 19, 39, 0.36);
    scrollbar-width: thin;
}


.b-1 {
    background-color: rgba(50, 193, 178, 0.497);
    width: 300px;
    height: 90%;
    border-radius: 8px;
    box-shadow: 5px 8px #0101013f;
}

.book-list {
    height: 85%;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
}


.b-2 {
    background-color: rgba(66, 178, 234, 0.593);
    width: 300px;
    height: 90%;
    border-radius: 8px;
    box-shadow: 5px 8px #0101013f;
}

.t1 {
    background-color: rgb(255, 196, 1);
    width: 100%;

}