.hamburgerMenu {
    position: absolute;
    color: aliceblue;
    font-size: 25px;
    margin: 15px 0 0 195px;
    cursor: pointer;
}

.hamburgerMenu :hover {
    color: rgba(255, 205, 22, 0.894);
}

.hamburgerMenu:active {
    color: #9e54e9c1;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

.homeMain-home {
    width: 90vw;
    height: 80vh;
    padding: 0px;
    border-radius: 0 0 18px 18px;
    display: flex;
    flex-direction: row;
    background-color: #27214e9f;
    border: 2px solid #f0ff4700;
}

.dashboard-container-home {
    width: 100%;
    background-color: #05782b20;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 18px 0;
}

.title-container {
    margin-bottom: 30px;
}

.chart-group {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.chart-container {
    display: flex;
    height: 90%;
    width: 100%;
}

.duo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.bar-chart {
    width: 55%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-color: rgba(5, 92, 82, 0.85) rgba(21, 36, 73, 0.36);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

.chart-group {
    background-color: rgba(5, 1, 16, 0.361);
}

.pie-chart {
    background-color: rgba(190, 228, 244, 0);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-note-container {
    background-color: rgba(5, 1, 16, 0.361);
    padding: 10px 20px;
    height: 50%;
    border-radius: 5px;
    margin-left: 10px;
    overflow: auto;
    scrollbar-color: rgba(5, 92, 82, 0.85) rgba(21, 36, 73, 0.36);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

