.dashboard
p {
    font-size: 20px;
    color: rgb(246, 254, 206);
}

.hamburgerMenu {

    position: absolute;
    color: aliceblue;
    font-size: 25px;
    margin: 15px 0 0 195px;
    cursor: pointer;

}

.hamburgerMenu :hover {
    color: rgba(255, 205, 22, 0.894);
}

.hamburgerMenu:active {
    color: #9e54e9c1;
    box-shadow: 0 5px #666;
    transform: translateY(3px);

}



.homeMain-home {
    width: 90vw;
    height: 80vh;
    padding: 0px;
    border-radius: 0 0 18px 18px;
    display: flex;
    flex-direction: row;
    background-color: #27214e9f;
    border: 2px solid #f0ff4700;
}



.dashboard-container-home {
    width: 100%;
    background-color: #05782b20;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 18px 0;
}

.chart-container {
    display: flex;
    height: 90%;
    width: 100%;
    justify-content: space-between;
}

.duo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;

}

.bar-chart{
    background-color: #6666669b;
    width: 55%;
}
.pie-chart {
    background-color: rgb(190, 228, 244);
    height: 50%;
}

.recent-note-container {
    background-color: rgb(190, 244, 219);
    height: 50%;
}

.daily-bible-verse{
    position: absolute;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    
    p{
        font-size: 15px;
        color: rgb(255, 255, 224);
        margin-bottom: 10px;
        cursor: pointer;
    }
}
