.dashboard
p {
    font-size: 20px;
    color: rgb(246, 254, 206);
}

.hamburgerMenu {

    position: absolute;
    color: aliceblue;
    font-size: 25px;
    margin: 15px 0 0 195px;
    cursor: pointer;

}

.hamburgerMenu :hover {
    color: rgba(255, 205, 22, 0.894);
}

.hamburgerMenu:active {
    color: #9e54e9c1;
    box-shadow: 0 5px #666;
    transform: translateY(3px);

}



.homeMain-home {
    width: 90vw;
    height: 80vh;
    padding: 0px;
    border-radius: 0 0 18px 18px;
    display: flex;
    flex-direction: row;
    background-color: #27214e9f;
    border: 2px solid #f0ff4700;
}



.dashboard-container-home {
    width: 100%;
    background-color: #05782b20;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 18px 0;
}

.trio-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.duo-container {
    
    display: flex;
    justify-content: space-evenly;

}


.title {
    background-color: turquoise;
    width: 300px;
    height: 250px;
}

.title2 {
    background-color: rgb(66, 178, 234);
    width: 300px;
    height: 250px;
}


.b1 {
    background-color: rgb(255, 196, 1);
    width: 250px;
    height: 250px;
}
.b2 {
    background-color: rgb(236, 68, 255);
    width: 250px;
    height: 250px;
}
.b3 {
    background-color: rgb(115, 224, 75);
    width: 250px;
    height: 250px;

}
.daily-bible-verse{
    position: absolute;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    
    p{
        font-size: 15px;
        color: rgb(255, 255, 224);
        margin-bottom: 10px;
        cursor: pointer;
    }
}
