.dashboard h1,
p {
    font-size: 50px;
    color: rgba(20, 22, 24, 0.88);
}

.userName {
    font-size: 33px;
    color: #f0ff47;
}

.hamburgerMenu {

    position: absolute;
    color: aliceblue;
    font-size: 25px;
    margin: 15px 0 0 215px;
    cursor: pointer;
}

.hamburgerMenu :hover {
    color: rgba(46, 198, 241, 0.69);
}

.hamburgerMenu:active {
    color: #9e54e9c1;
    box-shadow: 0 5px #666;
    transform: translateY(3px);

}


.homeMain {
    width: 90vw;
    height: 80vh;
    padding: 0px;
    border-radius: 0 0 18px 18px;
    display: flex;
    flex-direction: row;
    background-color: #27214e9f;
    border: 2px solid #f0ff4700;

}



.dashboard-container {
    width: 100%;
    background-color: #f0e7e77e;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 18px 0;
}

.top-container-note {
    background-color: rgba(72, 70, 70, 0.596);
    height: 100px;
    display: flex;
    justify-content: space-between;

}

.note-t1 {
    background-color: rgb(193, 73, 43);
    width: 100%;
    font-size: 35px;

}


.bottom-container-note {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    
}


.note-b1 {
    background-color: turquoise;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.note-dropdown-container{
    border: 2px solid #574ed5;
    height: 50px;
    width: 100%;
}

.note-input-container{
    padding: 5px;
    border: 3px solid #221819;
    width: 90%;
    height: 50%;

}

.noteList-container {
    background-color: rgb(66, 178, 234);
    width: 250px;

}



