.TopParWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 50px;
    border-radius: 18px 18px 0 0;
    background-color: rgba(5, 24, 30, 0.682);
    border-bottom: 1px solid rgba(240, 254, 243, 0.85);
}

.LeftTitle {
    display: flex;
    width: 290px;
    height: 50px;

    justify-content: left;
    align-items: center;
    margin-left: 0px;

    p {
        margin-left: 10px;
        font-size: 1em;
        color: rgba(13, 162, 255, 0.858);
    }
}


.SearchBar {
    display: flex;
    width: 600px;
    height: 50px;

    align-items: center;
    justify-content: space-evenly;
}

.SearchBar p {
    margin-right: 10px;
    font-size: 1em;
    color: rgba(255, 255, 245, 0.996);
    margin-left: 40px;
}


.SearchBox {
    display: flex;
    align-items: center;
}

.Dropdown {
    background: transparent;
    padding: 0px 10px 0px 10px;
    margin-right: 10px;
}

.SearchButton {

    padding: 2px 10px;
    border-radius: 16px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.099);
    color: white;
    border: 2px solid #f4f0f7d4;
    cursor: pointer;
}

.SearchButton:hover {
    background-color: #79fbdeba
}

.SearchButton:active {
    background-color: #9e54e9c1;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}


.Logout {
    display: flex;
    align-items: center;
    width: 90px;
    height: 50px;

    p {
        margin-left: 10px;
        font-size: 1em;
        color: rgba(74, 165, 239, 0.8);
        cursor: pointer;
    }

    p:hover {
        color: #79fbdfc0;
        transform: translateY(3px);
    }

    p:active {
        color: #9e54e9c1;
        transform: translateY(3px);
    }
}


.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;


    .icon {
        color: rgba(125, 48, 232, 0.739);
        font-size: 1.8em;
    }
}